  figure {
    overflow: hidden;
    text-align: center;
  }

  figcaption {
    text-align: center;
  }

  span {
    padding: 0 10px;
  }

  .header {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    height: 300px;
  }

  .title {
    text-align: center;
    color: #171717;
    background-color: #C0511B; 
  }

  .title h1 {
    font-weight: bold;
    text-decoration: underline black;
  }

  .title h2 {
    font-weight: 400;
  }

  .logo {
    background-image: url("./images/logo2.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .campus-img {
    grid-area: 1 / 2 / 2 / 2;
    background-image: url("./images/altc_uthealth_1200.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 200%;
    justify-self: stretch;
  }

  .article-body {
    padding: 10px 0 0 0;
    columns: 3;
    clear: both;
    background-color: #F7F4F0;
  }

  .content {
    padding: 10px 0 0 0;
    background-color: #F7F4F0;
    height: 600px;
  }

  .content h2 {
    text-align: center;
  }

  .content .center {
    text-align: center;
  }

  .about-content {
    padding: 10px 0 0 0;
    columns: 2;
    clear: both;
    background-color: #F7F4F0;
  }

  /* login */

  .card-split {
    display: flex;
    justify-content: space-between;
    width: 500px;
    padding: 20px;
  }
  
  .card-title,
  .form-group-btn {
    padding-left: 1.25rem;
  }
  
  .right-border {
    border-right: 1px solid grey;
    padding-right: 50px;
  }
  
  .left-border {
    padding-left: 50px;
  }

  /* main content - may need to adjust .center */
  
  .center {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* css3 magic! */
}

.task-form {
  margin: 50px 100px;
}

.list-group-item {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

.list-group-item span {
  width: 200px;
}

footer {
  padding: 16px 8px;
  margin-top: auto;
  position: fixed;
  bottom: 0;
}