* {
    font-family: "Open Sans", Trebuchet, sans-serif;
    box-sizing: border-box;
    text-decoration: #171717;
  }

ul,
li {
  list-style: none;
}

@media screen and (max-width: 812px) {
    .header {
      display: flex;
      flex-direction: column;
    }

/*I can't figure out how to get this logo to align center after it reads the media query*/    
    .logo { 
      background-image: url("./images/UTHealth_UTHSCSA_H_CMYK.jpg");
      height: 100%;
    }

    .campus-img {
      display: none;
    }
  }

@media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}